.section{
  background-color: #7fdaed;
  color: #38424c;
  font-size: 16px;
  border: 1px solid #7fdaed;
}
.section {
  div{
    margin : 30px auto;
  }
}
.section {
  div {
    img {
      height: 200px;
    }
  }
}
.section {
  span{
    color: #b87678;
    font-weight: 400;
  }
}
.section {
  p{
    font-weight: 300;
    margin-bottom: 8px;
  }
}
.redes{
  ul{
    list-style: none;
  }
}
.redes {
  i{
    width: 20px;
    text-align: center;
    color: #b87678;
  }
}
