<div class="section container-fluid text-center">
  <div class="row">
    <div class="col-12 col-lg-4">
      <img src="../../../assets/img/home.png" alt="Logo" />
    </div>
    <div class="col-12 col-lg-4">
      <p>
        <span><i class="fa-solid fa-location-dot"></i><b> Dirección</b></span
        ><br />Calle Tulipanes 85, Oficina 171
      </p>
      <p>
        <span><i class="fa-solid fa-clock-rotate-left"></i><b> Horario</b></span
        ><br />Lun - Vie 10:00 am - 6:00 p.m
      </p>
      <p>
        <span><i class="fa-solid fa-phone-volume"></i><b> Teléfono</b></span
        ><br />
        51(1) 454 3421 <br />(+51) 927 372 372
      </p>
    </div>
    <div class="redes col-12 col-lg-4">
      <p>
        <span><b>Síguenos en:</b></span>
      </p>
      <ul>
        <li>
          <a href="https://www.facebook.com/" target="_blank"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
          Facebook
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          Instagram
        </li>
        <li>
          <a href="https://www.youtube.com/" target="_blank"
            ><i class="fa-brands fa-youtube"></i
          ></a>
          Youtube
        </li>
        <li>
          <a href="https://gmail.com/" target="_blank"
            ><i class="fa-solid fa-envelope"></i
          ></a>
          Email
        </li>
      </ul>
    </div>
  </div>
</div>
