.logo{
  img{
    width: 100px;
  }
}
ul{
  width: 100%;
  font-size: 16px;
  li{
    width: 100%;
    text-align: center;
    border-radius: 20px;
  }
}

@media only screen and (min-width:600px){
  li{
    width: 25%;
  }
}
