<section class="container-list">

  <h1 class="title">Star Wars</h1>
  <div class="card-group">
    <app-card *ngFor="let character of characterList" [person]="character" (sendPerson)="recivePerson($event)"></app-card>
  </div>

  <div class="show-person" *ngIf="selectedPerson">
    <h3>The selected character is:</h3>
    <div class="information-person">
        <p><span>Name : </span>{{selectedPerson.name}}</p>
        <p><span>Height : </span>{{selectedPerson.height}}</p>
        <p><span>Hair Color : </span>{{selectedPerson.hair_color}}</p>
        <p><span>Skin Color : </span>{{selectedPerson.skin_color}}</p>
        <p><span>Eye Color : </span>{{selectedPerson.eye_color}}</p>
        <p><span>Gender : </span>{{selectedPerson.gender}}</p>
        <p><span>Birth Year : </span>{{selectedPerson.birth_year}}</p>
    </div>
  </div>

</section>
