<div>
  <h1>Cursos</h1>
  <p>Algunos cursos desarrollados hasta la fecha</p>
</div>
<div class="container section">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <figure>
        <img src="../../../assets/img/html.png" alt="Html">
        <figcaption>Maquetación Web con HTML5</figcaption>
      </figure>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <figure>
        <img src="../../../assets/img/css.png" alt="Css">
        <figcaption>Maquetación Web con CSS3</figcaption>
      </figure>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <figure>
        <img src="../../../assets/img/JavaScript.png" alt="JavaScript">
        <figcaption>Programación Web con JavaScript</figcaption>
      </figure>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <figure>
        <img src="../../../assets/img/react.png" alt="React">
        <figcaption>Programación Web con React</figcaption>
      </figure>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <figure>
        <img src="../../../assets/img/angular.svg" alt="Angular">
        <figcaption>Aplicaciones single page</figcaption>
      </figure>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <figure>
        <img src="../../../assets/img/marca-personal.png" alt="Marca Personal">
        <figcaption>Estrategias para una marca personal de éxito</figcaption>
      </figure>
    </div>
  </div>
</div>
